
<div *ngIf="(admin)">
<h2>Import Data Groups</h2>
</div>

    <div *ngIf="(admin)">
      <button mat-raised-button routerLink="/getgrpbyurl/">
        Download Data group by URL
      </button>&nbsp;&nbsp;&nbsp;&nbsp;

      <button mat-raised-button (click)="importFromFile=true;">
        Import from local file
      </button>&nbsp;&nbsp;&nbsp;&nbsp;

      <button mat-raised-button (click)="addGroup=true;" >
        Create New Group
      </button>&nbsp;&nbsp;&nbsp;&nbsp;

      <button *ngIf="(groupname!='')" mat-raised-button (click)="editCurrent()" >
        Edit Current Group
      </button>&nbsp;&nbsp;&nbsp;&nbsp;

      <button mat-raised-button (click)="openDevicesPanel()" >
        List Devices
      </button>
      <p>

      <div *ngIf="(importFromFile)">
        <label>File:
            <input type="file" (change)="onChange($event.target.files)">
        </label><br>

      <p>
    </div>

</div>

  <div *ngIf="(addGroup)">
    <label>Create new group on this client:</label><br>
    <label>Name:
    <input [(ngModel)]="groupData.name" placeholder="Data-Group Name"/>
    </label><br>
    <label>Type (string, number, IP address):
    <input [(ngModel)]="groupData.type" placeholder="Data-Group Type"/>
    </label><br>
      <button (click)="addNewGroup()">Create</button>
  </div>


<!-- below is AS3 export panel -->


<div *ngIf="openExportPanel" class="mine">
  <h2>Export Virtuals to AS3 Declaration from {{export_Device}}</h2>
  <div>
    <label>Enter Keyword or IP address: <input [(ngModel)]="export_keyword" placeholder="Found in virtual name, IP or, description or in pool name" size="50"      />
    </label><br>
    </div><p>
  <button (click)="exportAppToAS3(export_keyword)">Fire-in-the-hole</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="openExportPanel=false; openDevPanel=true">    Clear Panel   </button><p>

<label *ngIf="declar!=''"> Declaration for Keyword: {{ export_keyword }}:<p>
      <textarea rows="20" cols="100" name="Declaration" [(ngModel)]="declar"></textarea>
    <button >    Push to Big-IP   </button>
</label>

</div>


<!-- below is Big-IP devices panel -->


<div *ngIf="openDevPanel">
<h2>{{title}}</h2>

<ul class="products">
  <li *ngFor="let device of device_list; let i=index;">
    <div (click)="get_dgs(device.name, device.address)">
      <span class="badge">{{i+1}}</span> <span style="  display: inline-block; width:220px">{{device.name}}</span>&nbsp;
       <span class="type">{{device.type}}</span><span style="  display: inline-block; width:270px">{{device.address}}</span>
    </div>
    <div>   
    <button class="delete" title="Get Data-Groups"
      (click)="get_dgs(device.name, device.address)">Get DGs</button>
      &nbsp;

      <button class="delete" title="Upload DG Scripts" (click)="upload_scripts(i, device.address)">Upload DG Scripts</button>
      &nbsp;<button class="message" *ngIf="(device_list[i].scriptUploadStatus!=undefined)">{{device_list[i].scriptUploadStatus}}</button>

     <button class="delete" title="Export Application to AS3"
      (click)="exportPanel(device.name, device.address)">Mine AS3 Declarations</button>
      &nbsp;

      <button class="delete" title="Upload Export Script"
      (click)="upload_scripts(i, device.address, 'AS3Export')">Upload Export Script</button>
      &nbsp;

    </div>
  </li>
</ul>
      <!--<button class="delete" title="Push to all"
      (click)="upload_scripts(device.address)">Push script to all</button>
      &nbsp; -->

      <button class="delete" title="Clear Panel"
      (click)="openDevPanel=false">Clear Panel</button>
      &nbsp;
</div>




<!-- end of admin div with datagroup buttons. --> 
<div>

<div class="spinner-wrapper" style="position: relative;">
  <h2>{{gptitle}}</h2>
 <mat-spinner *ngIf="(spin && !(noHostnameSub[i] && noHostnameSub[i].length + not_inSync_with_master[i].length + match_with_master[i].length == dataGroups[i].devices.length))" 
  diameter="35" ></mat-spinner>
</div>

<ul class="products">
  <li *ngFor="let grp of dataGroups; let i=index;">
    <div (click)="records(i)">
      <span class="badge">{{i+1}}</span> <span style="  display: inline-block; width:200px">{{grp.name}}</span> &nbsp;
      <span class="type">Master</span><span style="  display: inline-block; width:260px">{{grp.master}}</span>
      <span class="type">Subs</span><span style="  display: inline-block; width:20px">{{dataGroups[i].devices.length}}</span>
    </div>
     
    <button *ngIf="(dataGroups[i].devices.length !=0)"  class="delete" title="Compare master to subs"
      (click)="masterMD5Hash(i, false)">Compare Master to Subs</button>



    <button *ngIf="(device_hostnames[grp.master]==undefined)" class="message" style="background-color: red" title="Check Hostname"
      > Master name not in hostname list </button>
      


    <button *ngIf="(noHostnameSub[i] && noHostnameSub[i].length !=0)" class="message" style="background-color: red" title="Check alias to hostname mapping"
      >{{noHostnameSub[i].length}} subs with bad names</button>
      
    <button *ngIf="(noResponse[i] && noResponse[i].length != 0)" class="message" style="background-color: red" title="Check hostname or DNS mapping"
      >No response from {{noResponse[i]}}</button>


    <button *ngIf="(not_inSync_with_master[i] && not_inSync_with_master[i].length!=0)" class="message" style="background-color: red" title="inSync Check" title="Click to Sync" (click)="masterMD5Hash(i,true)"
      >{{not_inSync_with_master[i].length}} of {{dataGroups[i].devices.length}} NOT IN SYNC with Master</button>
       
    <!-- masterMD5Hash(i -> is table row, true -> is sync or no sync) -->

    <button *ngIf="(noHostnameSub[i] && match_with_master[i] && match_with_master[i].length + noHostnameSub[i].length == dataGroups[i].devices.length)" class="message" style="background-color: lightgreen" title="In Sync"
      >{{match_with_master[i].length}} of {{dataGroups[i].devices.length}} IN SYNC with Master</button>
      

    <button *ngIf="(group_missing_on_master[i])" class="delete" title="Add Group to master"
      (click)="addGrpToMaster(i)">Click to add starter group to master</button>
      
    <button *ngIf="(group_fetch_response[i])" class="message" style="background-color: red" title="Group fetch response"
      >{{group_fetch_response[i]}}</button>


    </li>    
</ul>


</div>
